body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #303030;
  margin:0;
  padding:0;
}
/*clases reutilizables*/
.text-capitalize {
  text-transform: capitalize;
}
.text-uppercase{
  text-transform: uppercase;
}
.box-header {
  display: inline-block;
}
#link-header li{
  display: inline-block;
  list-style: none;
}
 header li a{
  color: inherit;
  text-decoration: none;
  margin-right: 24px;
}
header {
  position: fixed;
  background-image: url(../assets/images/hero.gif);
  background-size: cover;
  height: 112px;
  width: 100%;
  overflow: hidden;
  z-index: 1000;
}
nav {
  width: 370px;
  height: 55px;
  float: right;
  margin-top : 20px;
  margin-right: 155px;
  color: #fff;
}
#border{
  width: 80px;
  padding-top: 15px;
  padding-bottom:15px;
  border-radius: .5rem;
  border-color:1px solid #fff;
  background-color: purple;
  line-height: 1.5;
  display: inline-block;
  text-align: center;
}

img[alt="lyft"]{
  width: 70px;
  height: 40px;
  margin-top: 20px;
}
/*seccion lya*/
section{
  width: 100%;
}
#turn{
  width: 100%;
  height: 700px;
  margin: 0;
  padding:0;
  bottom: 115px;
  display: inline-block;
  background-image: url(../assets/images/hero.gif);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.box-turn{
  width: 578px;
  height:572px;
  padding: 64px;
  top: 112px;
  background-color: #fff;
  float: right;
}
.container-turn{
  width: 578px;
  height: 419px;
  margin-top: 182px;
  margin-left: 64px;
}
.title{
  color: #352384;
  font-weight: 700;
  line-height: 1.1;
  font-size: 2rem;
  text-align: left;
}
.sub-title{
  color: #352384;
  font-weight: 500;
  line-height: 1.1;
  font-size: 1rem;
  text-align: left;
  margin-top: 19px;
}
.content-form{
  margin-top: 20px;
  color: #728099;
  text-align: left;
}
.container-button{
  text-align: left;
  display: inline-block;
  margin-right:90px;
}
.text-fuchsia{
  text-decoration: none;
  color:#FF00BF;
}
.sign{
  display: inline-block;
}
h1 ,h2{
  margin: 4px;
}
.button-form{
  display: inline-block;
  width: 184px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 6px;
  background-color: #FF00BF;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.container-button a{
  margin: 10px;
}
hr{
  display: inline-block;
  width: 447px;
  text-align: left;
}
input{
  width: 447px;
  border:  none;
  text-align: left;
}
.container-input{
  margin-top: 20px;
  text-align: left;
}
/*seccion ride*/
#ride{
  width: 100%;
  height: 610px;
  background: linear-gradient(#76278F, #2B1E66);
  margin: 0;
  padding:0;
  overflow: hidden;
  column-count: 2;
}
.container-ride{
  padding-left: 200px;
  margin-top: 112px;
}
.text-ride{
  font-size: 18px;
  margin-bottom: 75px;
  color: #fff;
}
.videos{
  background-color: #fff;
  height: auto;
}
img[alt="phone"]{
  width: 450px;
 float: right;
 padding-top: 70px;
}
/*seccion videos*/
.videos{
  width: 100%;
}
.glow, .june, .good{
  width: 100%;
  overflow: hidden;
  display: inline-block;
}
#container-text{
  display: inline-block;
  width: 30%;
  padding-left: 40px;
  margin-top: 30px;
}
.video-glow, .video-good{
  float: right;
}
.video-june{
  float: left;
}

/*footer*/
footer{
  font-family: 'Montserrat', sans-serif;
  background-color: #333447;
  width: 100%;
  height: 731px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.conten{
  padding-top: 30px;
  padding-bottom: 30px;
  display: inline-block;
  width: 100%;
  height: 540px;
  padding-left: 20px;

}
.column-1,.column-2,.column-3{
  width: 15%;
  height: 530px;
  display:block;
  margin: auto;
  list-style: none;
  float: left;
}
#width-column{
  width: 100%;
  height: 530px;
  color: #fff;
  display:block;
}
.column-4{
  width: 55%;
  height: 535px;
  float: left;
}
#link-line:hover{
  text-decoration-line: underline;
}
#link-hover:hover{
  text-decoration-line: underline;
  color: #FF00BF;
}
.image-footer{
  width: 100%;
  height: 535px;

}
.list{
    width: 100%;
    margin: 0;
    color: #fff;
    list-style: none;
}
.listb li{
    padding-bottom: 15px;
    list-style: none;
    font-weight: normal;
}
.h4{
    color: #f3f3f5;
}
.column3.list{
margin-top: 0;
margin-bottom: 0;
}
.conten a{
    color: #fff;
    text-decoration: none;
}

.reds{
    width: 160px;
    height: 57px;
    padding-left:550px;
}

.iconn{
    text-align: center;
    color: #fff;
}

.fa-instagram{
    border: 2px solid #fff;
    color:#fff;
    border-radius: 20px;
    padding: 10px;
}
.fa-twitter{
    border: 2px solid #fff;
    color:#fff;
    border-radius: 20px;
    padding: 10px;
}
.fa-facebook{
    border: 2px solid #fff;
    color:#fff;
    border-radius: 20px;
    padding: 10px;
}
.iconn span{
    padding-right: 10px;
    padding-left: 10px;
}
.column-end{
  width: 100%;
  height: 80px;
}
.end{
    border-top:2px #fff;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
hr{
    width: 600px;
}
.end p{
    margin: 0;
}
.end1{
    padding-bottom: 20px;
}
#color-link{
  text-decoration: none;
  color:#fff;
}
#color-link:hover{
  text-decoration: underline;
  color:#FF00BF;
}
